// _variables.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;
$color__link-blue: #00b8ff;
$color__link-blue-hover: #004fa3;
$color__light-gray: #ddd;
$color__light-gray-2: #777E91;
$color__white-hover: #f2f2f2;
$font-stack: 'Helvetica Neue', sans-serif;

$font-main: 'Inter', sans-serif;
$breakpoint-md: 768px;  // only one breakpoint required