// src/components/Header/Header.scss
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  background-color: white;
  border-bottom: 1px solid $color__light-gray; // Light gray
  padding: 1rem 1.5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    &--button{
        font-size: 1.75rem;
        cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__menu--button {
    background: none;
    border: none;
    color: white;
    font-size: 1.75rem;
    cursor: pointer;

    @media (min-width: $breakpoint-md) {
        display: none;
    }
  }

  &__nav {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.4rem 0.75rem;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background 0.2s;

    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
    }

    & > * {
        margin: 1rem;
        padding: 0.5rem;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }

    &--login {
      background-color: white;
      color: $primary-color;
      border-style: solid;
      border-color: $color__link-blue;

      &:hover {
        background-color: lighten(white, 5%);
      }
    }

    &--signup {
      background-color: $color__link-blue;
      color: white;

      &:hover {
        background-color: lighten(white, 5%);
      }
    }
  }
}
