@use '../../styles/variables' as *;

.gallery {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: $color__link-light-blue;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 4rem 6rem;
    gap: 3rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    @media (min-width: 768px) {
      width: 35%;
    }
  }

  &__title {
    color: $color__link-dark-blue;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'DM Sans', sans-serif;

    &--emph {
      color: $color__link-blue;
    }

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__subtitle {
    color: $color__light-gray-3;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  &__button {
    padding: 0.75rem 2rem;
    background-color: $color__link-blue;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background 0.3s ease;

    &:hover {
      background-color: $color__link-blue-hover;
    }
  }

  &__slider {
    margin-top: 2rem;
    width: 100%;

    @media (min-width: 768px) {
      margin-top: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .slick-list {
      width: 100%;
    }

    .slick-dots {
      position: relative;
      bottom: auto;
      display: flex !important;
      justify-content: center;
      margin-top: 1rem;

      li {
        margin: 0 4px;

        button:before {
          font-size: 10px;
          color: #bbb;
          opacity: 1;
        }

        &.slick-active button:before {
          color: $color__link-blue;
        }
      }
    }
  }

  &__slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__image-wrapper {
    width: 100%;
    max-width: 90%;
    // aspect-ratio: 4 / 3;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
      max-width: 100%;
      max-height: 60vh;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.mobile-only {
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
