.courses-section {
  padding: 40px 20px;
  color: white;
  text-align: left;
}

.courses-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: left;
}

.courses-slider {
  .course-slide {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 10px;
  }
}
